*{
    outline: none;
}

body
{
    margin:0px 0px;
    background-color:#385591;
}

body, input, button
{
    font-family: Helvetica;
}

img
{
    display: block;
    width: 100%;
    border: 0;
}

.bruh
{
    padding-top: 180px;
}

.bruh2
{
    margin-right: 515px;
}

.tb
{
    display: table;
    width: 100%;
}

.tr
{
    display: table-row;
}

.td
{
    display: table-cell;
    vertical-align: middle;
}

.td2
{
    display: table-cell;
    vertical-align: middle;
    margin-left: -450px;
}

.tb2
{
    display: table;
    width: 100%;
}


.td2
{
    display: table-cell;
    vertical-align: middle;
    margin-left: 100px;
}

.tb3
{
    display: table;
    margin-left: 330px;
    z-index: 3;
}

.tb6
{
    display: table;
    margin-left: 220px;
    z-index: 3;
}

.tb4
{
    display: table;
    width: 100%;
    margin-left: -650px;
}

.tb5
{
    display: table;
    width: 100%;
    margin-right: 510px;
}

.naarlinksaub
{
    margin-right: 50px;
}

a
{
    text-decoration: none;
}

button
{
    padding: 0;
    border: 0;
    background-color: transparent;
}

::-webkit-input-placeholder
{
    color: #f1f1f1;
}

:-ms-input-placeholder
{
    color: #f1f1f1;
}

::-ms-input-placeholder
{
    color: #f1f1f1;
}

::placeholder
{
    color: #f1f1f1;
}

main
{
    margin: 0 auto;
    background-color: #e9ebee;
    box-shadow: 0px 8px 30px #1d2d4f;
    border-radius: 4px;
    overflow: hidden;
}

#device-bar-1
{
    text-align: right;
    padding: 6px;
    background-color: #000;
    overflow: hidden;
}

#device-bar-1 button
{
    width: 15px;
    height: 15px;
    float: left;
    margin: 6px;
    border-radius: 50%;
    cursor: pointer;
}

#device-bar-1 button:first-child
{
    background-color: #f35d5b;
}

#device-bar-1 button:nth-child(2)
{
    background-color: #f6bd3a;
}

#device-bar-1 button:last-child
{
    background-color: #44cc45;
}

/* Header */
header
{
    padding: 5px 20px;
    background-color: #4267b2;
}

#logo
{
    width: 30px;
}

#logo a
{
    display: block;
    margin-left: 350px;
}

#logo a i
{
    font-size: 34px;
    color: #fff;
}

#search-form form
{
    position: relative;
    width: 380px;
    font-size: 16px;
    padding: 0px 15px;
    padding-right: 37px;
    background-color: #ffffff;
    border-radius: 0px;
    margin-left: 10px;
}

#search-form form input
{
    width: 100%;
    color: #fff;
    border: 0;
    background-color: transparent;
}

#search-form form button
{
    position: absolute;
    top: 2px;
    right: 6px;
    color: #f1f1f1;
    height: 22px;
    line-height: 1;
    cursor: pointer;
}

#search-form form button i
{
    font-size: 22px;
}

#f-name-l
{
    width: 1px;
    color: #fff;
    font-weight: bold;
    white-space: pre;
    padding-right: 20px;
}

#f-name-l span
{
    padding-right: 28px;
    border-right: 1px solid #35518b;
}

#i-links
{
    width: 1px;
}

#m-td
{
    padding-right: 20px;
    margin-left: -50px
}

#m-td span
{
    position: relative;
    cursor: pointer;
}

/*#m-td span.m-active:before
{
    content: '5';
    position: absolute;
    top: -8px;
    right: 0px;
    color: #fff;
    font-size: 12px;
    padding: 4px 4px 3px 4px;
    background-color: #ff1e0e;
    border-radius: 3px;
    line-height: 1;
}*/

#i-links i
{
    color: #1a2947;
    font-size: 24px;
    padding: 0px 8px;
    vertical-align: middle;
}

#p-link
{
    display: block;
    width: 34px;
    height: 34px;
    background-color: #f1f1f1;
    border-radius: 50%;
    overflow: hidden;
    margin-left: -50px;
}

#p-link img
{
    width: 100%;
}

/* Header finished */

/* Profile image header */
#profile-upper
{
    position: relative;
}

#profile-d
{
    position: absolute;
    left: 59px;
    bottom: 0px;
    right: 0px;
    height: 180px;
    z-index: 2;
    margin-left: 330px;
}

#profile-banner-image
{
    height: 360px;
    width: 1245px;
    overflow: hidden;
    z-index: 1;
    margin-left: 385px;
}

#profile-banner-image img
{
    max-width: 80%;
    margin-top: -17%;
}

#profile-pic
{
    width: 180px;
    height: 180px;
    border-radius: 200px;
    margin-top: 28px;
    overflow: hidden;
    box-shadow: 0 0 0 5px #fff;
    margin-left: 20px;
    z-index: 999;
}

#profile-pic img
{
    width: 100%;
}

#u-name
{
    position: absolute;
    top: 120px;
    left: 208px;
    color: #fff;
    font-size: 30px;
    font-weight: bold;
    margin-left: 20px;
}

#m-btns
{
    position: absolute;
    right: 56px;
    bottom: 20px;
    width: 211px;
}

#m-btns .td
{
    padding: 0 8px;
}

.m-btn
{
    cursor: pointer;
    color: #0e0e0e;
    font-size: 14px;
    white-space: pre;
    padding: 5px 8px 6px 8px;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 2px;
}

.m-btn i
{
    font-size: 16px;
    margin-right: 1px;
    vertical-align: middle;
}

.m-btn span
{
    position: relative;
    top: 1px;
}

#edit-profile
{
    position: absolute;
    right: 20px;
    bottom: 21px;
    line-height: 1;
    cursor: pointer;
}

#edit-profile i
{
    display: block;
    color: rgba(255, 255, 255, 0.7);
}

#black-grd
{
    position: absolute;
    left: 0px;
    bottom: 0px;
    right: 0px;
    height: 300px;
    z-index: 1;
}
/* Profile image header finished */

/* Content area */
#main-content
{
    padding: 55px 0px 0px 55px;
}

#l-col, #m-col, #r-col, #b-col
{
    vertical-align: top;
}

#l-col
{
    width: 340px;
    padding-top: 6px;
}

#b-col
{
    width: 340px;
    padding-top: 6px;
}

.l-cnt
{
    padding: 20px;
    background-color: #fff;
    box-shadow: 0px 3px 3px #ddd;
}

.l-mrg
{
    margin-top: 28px;
}
.l-i
{
    display: inline-block;
    width: 24px;
    height: 24px;
    margin-right: 2px;
    background-size: auto;
    background-repeat: no-repeat;
    vertical-align: middle;
}

#l-i-i
{
    background-image: url('https://static.xx.fbcdn.net/rsrc.php/v3/yQ/r/o1GEhvsp8Am.png');
    background-position: 0 -87px;
}

#l-i-p
{
    background-image: url('https://static.xx.fbcdn.net/rsrc.php/v3/yV/r/oDx6U6Uuxkj.png');
    background-position: 0 0;
}

#l-i-b
{
    background-image: url('../assets/img/friends.png');
}

#l-i-k
{
    background-image: url('https://static.xx.fbcdn.net/rsrc.php/v3/yC/r/VVH_Faec7ko.png');
}

.cnt-label
{
    position: relative;
    padding-right: 24px;
    margin-bottom: 15px;
}

.cnt-label span
{
    position: relative;
    top: 2px;
    color: #707070;
    font-size: 18px;
}

.lb-action
{
    position: absolute;
    top: 0px;
    right: 0px;
    cursor: pointer;
}

.lb-action i
{
    display: block;
    color: #ccc;
    font-size: 18px;
}

#b-i i
{
    font-size: 24px;
}

#i-box
{
    color: #797979;
    font-size: 14px;
    line-height: 1.3;
}

#intro-line
{
    margin-top: 17px;
}

#u-occ
{
    margin: 10px 0px;
}

#u-occ a
{
    color: #2196f3;
}

#u-loc i
{
    color: #2196F3;
    font-size: 16px;
    margin-left: -3px;
    margin-right: 2px;
    margin-top: -1px;
    vertical-align: middle;
}

#u-loc a
{
    position: relative;
    top: 1px;
    color: #2196F3;
}

#photos
{
    padding: 2px;
    margin: 15px -20px -20px -20px;
}

#photos .td
{
    width: 33.333%;
    height: 112px;
    border: 2px solid #fff;
    box-sizing: border-box;
    background-color: #f1f1f1;
    background-position: 50% 25%;
    background-size: cover;
}

#photos .tb .tr:nth-child(1) .td:nth-child(1)
{
    background-image: url('../assets/img/foto1.jpg');
}

#photos .tb .tr:nth-child(1) .td:nth-child(2)
{
    background-image: url('../assets/img/foto2.jpg');
}

#photos .tb .tr:nth-child(1) .td:nth-child(3)
{
    background-image: url('../assets/img/foto3.jpg');
}

#photos .tb .tr:nth-child(2) .td:nth-child(1)
{
    background-image: url('../assets/img/foto4.jpg');
}

#photos .tb .tr:nth-child(2) .td:nth-child(2)
{
    background-image: url('../assets/img/foto5.jpg');
}

#photos .tb .tr:nth-child(2) .td:nth-child(3)
{
    background-image: url('../assets/img/foto6.jpg');
}

#photos .tb .tr:nth-child(3) .td:nth-child(1)
{
    background-image: url('../assets/img/foto7.jpg');
}

#photos .tb .tr:nth-child(3) .td:nth-child(2)
{
    background-image: url('../assets/img/foto8.jpg');
}

#photos .tb .tr:nth-child(3) .td:nth-child(3)
{
    background-image: url('../assets/img/foto9.jpg');
}

#friends
{
    padding: 2px;
    margin: 15px -20px -20px -20px;
}

#friends .td
{
    width: 33.333%;
    height: 112px;
    border: 2px solid #fff;
    box-sizing: border-box;
    background-color: #f1f1f1;
    background-position: 50% 25%;
    background-size: cover;
}

#friends .tb .tr:nth-child(1) .td:nth-child(1)
{
    background-image: url('../assets/img/friends3.jpg');
}

#friends .tb .tr:nth-child(1) .td:nth-child(2)
{
    background-image: url('../assets/img/friends2.jpg');
}

#friends .tb .tr:nth-child(1) .td:nth-child(3)
{
    background-image: url('../assets/img/friends1.jpg');
}

#friends .tb .tr:nth-child(2) .td:nth-child(1)
{
    background-image: url('../assets/img/friends4.jpg');
}

#friends .tb .tr:nth-child(2) .td:nth-child(2)
{
    background-image: url('../assets/img/friends5.jpg');
}

#friends .tb .tr:nth-child(2) .td:nth-child(3)
{
    background-image: url('../assets/img/friends6.jpg');
}

#friends .tb .tr:nth-child(3) .td:nth-child(1)
{
    background-image: url('../assets/img/friends7.jpg');
}

#friends .tb .tr:nth-child(3) .td:nth-child(2)
{
    background-image: url('../assets/img/friends8.jpg');
}

#friends .tb .tr:nth-child(3) .td:nth-child(3)
{
    background-image: url('../assets/img/friends9.jpg');
}

#k-nm
{
    color: #b8b8b8;
    font-size: 15px;
    font-style: normal;
    margin-left: 8px;
    cursor: pointer;
}

.q-ad-c
{
    padding: 2px;
}

.q-ad
{
    display: block;
    padding: 8px;
    border: 1px solid #eeeeee;
    background-color: #fafafa;
    border-radius: 4px;
}

.q-ad img
{
    display: inline;
    width: 24px;
    height: 24px;
    margin-right: 5px;
    vertical-align: middle;
}

.q-ad span
{
    position: relative;
    top: 1px;
    color: #242424;
    font-size: 14px;
    text-align: center;
}

#add_q
{
    color: #858585;
    text-align: center;
    margin-top: 10px;
    background-color: #fff;
    border-color: #f1f1f1;
}

#add_q i
{
    font-size: 17px;
    margin-right: -3px;
    vertical-align: middle;
}

#add_q span
{
    color: #858585;
    font-size: 12.4px;
    position: relative;
    top: -1px;
}

#t-box
{
    font-size: 14px;
    color: #686868;
    padding-top: 24px;
    line-height: 18px;
}

#t-box a
{
    margin-right: 5px;
}

#t-box a, #t-more
{
    color: #999;
}

#t-more
{
    cursor: pointer;
}

#t-more i
{
    font-size: 15px;
    vertical-align: middle;
}

#cpy-nt
{
    margin-top: 4px;
}

#m-col
{
    padding: 0px 55px;
}

.m-mrg
{
    margin-bottom: 28px;
    width: 60%;
    margin-left: -40px;
}

.m-mrg2
{
    margin-bottom: 28px;
    width: 93.3%;
    margin-left: -395px;
    z-index: 0;
}


#p-tabs
{
    position: relative;
    font-size: 15px;
    font-weight: bold;
    color: #3b5998;
    text-align: right;
    padding: 13px 20px;
    margin-top: -64px;
    background-color: #fff;
    box-shadow: 0px 3px 3px #ddd;
}

#p-tabs-m .td
{
    width: 20%;
    cursor: pointer;
    text-align: center;
}

#p-tabs-m .td.active
{
    color: #ee6000;
}

#p-tabs-m span
{
    position: relative;
}

#p-tabs-m .td.active span:after
{
    content: '';
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: -13px;
    height: 4px;
    background-color: #ee6000;
}

#p-tabs-m .td i
{
    display: block;
    font-size: 24px;
    margin-bottom: 5px;
}

#p-tab-m
{
    width: 1px;
    color: #ccc;
    cursor: pointer;
}

#p-tab-m i
{
    margin-right: -4px;
}

#composer
{
    padding: 20px;
    background-color: #fff;
    box-shadow: 0px 3px 3px #ddd;
}

#c-tabs-cvr
{
    padding-bottom: 12px;
    border-bottom: 1px solid #ececec;
}

#c-tabs
{
    width: auto;
    color: #919191;
}

#c-tabs .td
{
    position: relative;
    width: 1px;
    padding: 0px 15px;
    white-space: pre;
    cursor: pointer;
}

#c-tabs .td:after
{
    content: '';
    position: absolute;
    top: 50%;
    right: 0px;
    width: 1px;
    height: 12px;
    margin-top: -6px;
    background-color: #eaeaea;
}

#c-tabs .td:first-child
{
    padding-left: 0px;
}

#c-tabs .td:last-child
{
    padding-right: 0;
}

#c-tabs .td:last-child:after
{
    display: none;
}

#c-tabs .td span
{
    position: relative;
}

#c-tabs .td.active
{
    color: #373737;
}

#c-tabs .td.active span:after
{
    content: '';
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: -20px;
    width: 10px;
    height: 10px;
    border: 1px solid transparent;
    border-color: transparent #ececec #ececec transparent;
    margin: 0 auto;
    background-color: #fff;
    -webkit-transform: rotateZ(45deg);
            transform: rotateZ(45deg);
}

#c-tabs .td i
{
    font-size: 21px;
    margin-right: 4px;
    vertical-align: middle;
}

#c-tabs .td span
{
    position: relative;
    top: 1px;
    font-size: 15px;
}

#c-c-main
{
    position: relative;
    padding-top: 15px;
}

#p-c-i
{
    width: 50px;
    border-radius: 50%;
    overflow: hidden;
}

#p-c-i img
{
    display: block;
    width: 100%;
}

#c-inp
{
    padding-left: 20px;
}

#c-inp input
{
    width: 100%;
    font-size: 20px;
    border: 0;
    padding: 0;
    margin: 0;
}

#c-c-main input::-webkit-input-placeholder
{
    color: #666;
}

#c-c-main input:-ms-input-placeholder
{
    color: #666;
}

#c-c-main input::-ms-input-placeholder
{
    color: #666;
}

#c-c-main input::placeholder
{
    color: #666;
}

#insert_emoji
{
    position: absolute;
    right: -2px;
    bottom: -10px;
    cursor: pointer;
}

#insert_emoji i
{
    display: block;
    color: #ccced6;
    font-size: 21px;
}

.post
{
    padding: 20px;
    background-color: #fff;
    box-shadow: 0px 3px 3px #ddd;
    width: 60%;
    margin-left: -40px;
}

.p-p-pic
{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
}

.p-p-pic img
{
    width: 100%;
    display: block;
    border: 0;
}

.p-r-hdr
{
    vertical-align: top;
    padding-left: 20px;
}

.p-u-info
{
    color: #5a5959;
    font-size: 15px;
    margin-bottom: 7px;
}

.p-u-info a
{
    color: #4267b2;
}

.p-dt
{
    color: #a8a8a8;
    font-size: 13px;
}

.p-dt i
{
    font-size: 14px;
    margin-right: 2px;
}

.p-dt span
{
    position: relative;
    top: -2px;
}

.p-opt
{
    position: relative;
    right: -3px;
    width: 1px;
    color: #ccc;
    cursor: pointer;
    vertical-align: top;
}

.p-cnt-v
{
    display: block;
    margin: 20px -20px;
    cursor: pointer;
}

.p-acts
{
    overflow: hidden;
}

.p-act
{
    width: 24px;
    height: 24px;
    color: #a3a6aa;
    cursor: pointer;
}

.p-act span
{
    position: relative;
    top: 1px;
    width: 20px;
    font-size: 15px;
    color: #a3a6aa;
}

.like
{
    margin-right: 36px;
}

.like, .comment
{
    width: 50px;
    float: left;
}

.p-act i
{
    vertical-align: middle;
}

.like i, .comment i
{
    margin-right: 6px;
}

.share
{
    float: right;
    -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg);
    margin-right: -1px;
}

#loading
{
    text-align: center;
    padding: 40px 0px;
}

#loading i
{
    color: #4267b2;
    font-size: 32px;
    display: block;
}
/* Content area finished */

/* Chat bar */
#r-col
{
    position: relative;
    width: 150px;
}

#chat-bar
{
    position: absolute;
    top: -55px;
    right: 55px;
    bottom: 0px;
    left:0px;
}

#chat-lb
{
    color: #3a5795;
    font-size: 16px;
    text-align: center;
    margin: 23px 0px;
}

#chat-lb i
{
    font-size: 18px;
    margin-right: 4px;
    vertical-align: middle;
}

#chat-lb span
{
    position: relative;
    top: 2px;
}

.on-ct
{
    position: relative;
    width: 50px;
    height: 50px;
    margin: 28px auto 0 auto;
    border-radius: 50%;
}

#cts .on-ct:first-child
{
    margin-top: 0px;
}

.on-ct img
{
    border-radius: 50%;
}

.on-ct.active:after
{
    content: '';
    position: absolute;
    top: 3px;
    right: 2px;
    width: 10px;
    height: 10px;
    background-color: #2ecd18;
    border-radius: 50%;
    box-shadow: 0px 0px 0px 3px #e9ebee;
    z-index: 1;
}

#ct-sett
{
    margin-top: 55px;
}

#ct-sett i
{
    color: #3a5795;
    padding: 13px;
    background-color: #d8e4ff;
    border-radius: 50%;
    cursor: pointer;
}
/* Chat bar finished */

/* Footer */
#device-bar-2
{
    padding: 9px 0px 13px 0px;
    background-color: #000;
}

#device-bar-2 i
{
    display: block;
    width: 40px;
    color: #fff;
    font-size: 40px;
    text-align: center;
    margin: 0 auto;
}
/* Footer finished */








/*Chatbox popup chat.php*/


.chat_box{
    z-index: 999;
    position:fixed;
    right:20px;
    bottom:0;
    width: 208px;
    -webkit-box-shadow: 0px 1px 9px 0px rgba(0,0,0,0.40);
    -moz-box-shadow: 0px 1px 9px 0px rgba(0,0,0,0.40);
    box-shadow: 0px 1px 9px 0px rgba(0,0,0,0.40);

}
.chat_body{
    background:white;
    height:309px;
    padding:5px 0px;
}

.chat_head,.msg_head{
    font-size: 14px;
    background:white;
    color:#1c1e21;
    padding:15px;
    font-weight:bold;
    cursor:pointer;
    border-radius:5px 5px 0px 0px;
    border-bottom: 2px solid #cccccc;
}
.footer_chatbox{
    position: absolute;
    bottom: 0;
    margin-bottom: 5px;
}

#searchsmall{
    width: 17px;
    height: auto;
    float: left;
    margin-left: 10px;
    bottom: 0;

}
.searchtext{
    float: left;
    top: 0;
    margin-left: 10px;
    position: relative;
    color: #a3a3a3;
    font-size: 12px;
}



.msg_box{
    position:fixed;
    bottom:-5px;
    width:250px;
    background:white;
    border-radius:5px 5px 0px 0px;
}

.msg_head{
    background:#3498db;
}

.msg_body{
    background:white;
    height:200px;
    font-size:12px;
    padding:15px;
    overflow:auto;
    overflow-x: hidden;
}
.msg_input{
    width:100%;
    border: 1px solid white;
    border-top:1px solid #DDDDDD;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;
}

.close{
    float:right;
    cursor:pointer;
}
.minimize{
    float:right;
    cursor:pointer;
    padding-right:5px;

}

.user{
    position:relative;
    padding: 10px 50px;
    font-size: 12px;
}
#user-group:before{
    background-image: url(../assets/img/addgroupfb.png);
    background-size: cover;
    background-position: center;
}
.user:hover{
    background:#f8f8f8;
    cursor:pointer;
}
.user-time{
    float: right;
    margin-right: -40px;
    font-size: 10px;
    letter-spacing: 1px;
    color: #90949C;

}
.user:before{
    content:'';
    position:absolute;
    background-image: url(../assets/img/profile-picture-chat.jpg);
    background-size: cover;
    background-position: center;
    height:30px;
    width:30px;
    left:10px;
    top:5px;
    /*border-radius:6px;*/
    border-radius: 50%;

}

.msg_a{
    position:relative;
    background:#FDE4CE;
    padding:10px;
    min-height:10px;
    margin-bottom:5px;
    margin-right:10px;
    border-radius:5px;
}
.msg_a:before{
    content:"";
    position:absolute;
    width:0px;
    height:0px;
    border: 10px solid;
    border-color: transparent #FDE4CE transparent transparent;
    left:-20px;
    top:7px;
}


.msg_b{
    background:#EEF2E7;
    padding:10px;
    min-height:15px;
    margin-bottom:5px;
    position:relative;
    margin-left:10px;
    border-radius:5px;
}
.msg_b:after{
    content:"";
    position:absolute;
    width:0px;
    height:0px;
    border: 10px solid;
    border-color: transparent transparent transparent #EEF2E7;
    right:-20px;
    top:7px;
}

.chat-main{
    z-index: 999;
    position: fixed;
    width: 284px;
    bottom: 0;
    right: 243px;
    -webkit-box-shadow: 0px 1px 9px 0px rgba(0,0,0,0.40);
    -moz-box-shadow: 0px 1px 9px 0px rgba(0,0,0,0.40);
    box-shadow: 0px 1px 9px 0px rgba(0,0,0,0.40);
}
#display-chat{
    display: none;
}
.chat-header{
    background: white !important;
    padding-top: 1px;
    padding-bottom: 1px;
    border-bottom: 2px solid #cccccc;
}
.username i{
    font-size: 0;
    content: '';
    position: absolute;
    background-image: url(../assets/img/profile-picture-chat.jpg);
    background-size: cover;
    background-position: center;
    height: 30px;
    width: 30px;
    left: 10px;
    top: 5px;
    /* border-radius: 6px; */
    border-radius: 50%;
}
.username h6{
    display: inline-block;
    font-size: 12px;
    font-weight: 600;
    color: black;
    margin-top: 13px;
}
.options i{
    font-size: 18px;
    font-weight: normal;
    /*opacity: 0.7;*/
    color: #1786fa;
}
.options .live-video{
    font-size: 6px;
}
.chats{
    background: white;
    height: 260px;
    overflow-x: scroll;
    overflow-x: hidden;
}
.chats ul li{
    list-style: none;
    clear: both;
    font-size: 13px;
}
.chats .send-msg{
    float: right;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 12px!important;
    padding-right: 12px !important;
    border-radius: 18px!important;
    max-width: 87%;
    text-align: right!important;
}
.receive-msg img{
    border-radius: 100%;
    height: 30px;
    width: 12%;
    float: left;
}
.receive-msg-img{
    display: inline;
}
.receive-msg .receive-msg-desc{
    display: inline-block;
    max-width: 87%;
    margin: 0!important;
}
.receive-msg .receive-msg-desc p{
    background: #F1F0F0;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 12px!important;
    padding-right: 12px !important;
    border-radius: 18px!important;
    text-align: left;
}
.message-box input{
    border: none;
    font-size: 13px;
    opacity: 0.7;
}
.message-box input:focus{
    outline: none;
}
.tools{
    overflow: hidden;
}
.border{
    background: white;
    border: none !important;
}
.title-chat{
    margin-left: 10px;
    margin-bottom: 4px;
    margin-top: 2px;
    letter-spacing: 0.5px;
    color: #4a4a4a;
    font-weight: bold;
    font-size: 10px;
    line-height: 16px;
    text-transform: uppercase;
}
.title-2-chat{
    margin-top: 8px;
    margin-bottom: 7px;
}
.img-chat-head{
    height: 15px;
    width: auto;
    float: right;
    margin: 2px 0 0 12px;
}
.margin-right-btn-chat{
    margin-left: 187px;
    margin-top: 10px;
    margin-bottom: 7px;
}
.username-live-chat{
    margin-left: 45px;
    position: absolute;
}
.close-btn-chatbox{
    position: absolute;
    width: 18px;
    right: 0;
    margin-right: -10px;
    margin-top: -10px;
}
.footerchats{
    width: 17px;
    margin-top: 6px;
    padding-bottom: 8px;
    margin-left: 3px;
    float: left;
    margin-right: 6px;
}
.floatright{
    float: right;
}
.pl-0{
    padding-left: 5px!important;
    margin-bottom: 3px!important;
    margin-top: 6px;
}
#border-top{
    border-top: 1px solid #e0e0e0!important;
}
.sayhi{
    text-align: center;
    font-size: 10px;
    color: #90949C;
    padding-top: 40px;
}
.center-two-users{
    margin: auto;
    width: 30%;
    padding-top: 5px;
}
.userchat{
    position:relative;
}
.userchat:before{
    content:'';
    position:absolute;
    background-image: url(../assets/img/testpf.png);
    background-size: cover;
    background-position: center;
    height:30px;
    width:30px;
    left:10px;
    top:5px;
    /*border-radius:6px;*/
    border-radius: 50%;

}
.seconduserchat{
    margin-left: 22px;
}
#livechat01:before{
    background-image: url(../assets/img/profile-picture-chat.jpg);
    background-size: cover;
    background-position: center;
}
.datefriends{
    text-align: center;
    font-size: 11px;
    font-weight: bold;
    color: #BEC3C9;
    padding-top: 10px;
    margin-bottom: 0;
}

/* end Chatbox popup chat.php*/
.cmsvisibly{
    display: none;
}